/* CSS Document */
/* Scss Document */
/*Color variables*/
/*Font stack*/
/* Fonts */
@font-face {
  font-family: "Lato-regular";
  src: url("../../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-light";
  src: url("../../fonts/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-bold";
  src: url("../../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Libre_Caslon_Text Bold";
  src: url("../../fonts/Libre_Caslon_Text/LibreCaslonText-Bold.ttf");
}
@font-face {
  font-family: "Libre_Caslon_Text Reg";
  src: url("../../fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf");
}
/* Reponsive width variables */
.index-wrapper {
  height: auto;
  width: 100%;
  background: #f2f9ff;
  background-size: cover;
}

/* INDEX SECTION */
/* PROFILE PIC AND BIOGRAPHY */
.pic-row {
  padding-top: 100px;
}

.pro-img {
  margin-bottom: 40px;
  width: 40%;
  height: auto;
}
@media screen and (min-width: 0px) {
  .pro-img {
    width: 25vh;
  }
}

.heading-text {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  font-family: "Libre_Caslon_Text Bold";
  font-size: 54px;
}
@media screen and (min-width: 0px) {
  .heading-text {
    font-size: 36px;
    text-align: center;
  }
}
@media screen and (min-width: 600px) {
  .heading-text {
    font-size: 46px;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .heading-text {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .heading-text {
    font-size: 58px;
  }
}

.info-text {
  font-family: "Lato-light";
  font-size: 17px;
}
@media screen and (min-width: 992px) {
  .info-text {
    font-size: 18px;
  }
}

.social-row {
  margin-top: 60px;
  margin-bottom: 45px;
}
.social-row > div > a > i {
  color: black;
}

.btn-row {
  margin-top: 40px;
}

/* TECH ICONS STYLINGS */
.tech-row {
  margin-top: 100px;
}

.tech-col {
  height: 150px;
  margin-bottom: 20px;
}

.tech-text {
  font-family: "Lato-bold";
  font-size: 17px;
}
@media screen and (min-width: 992px) {
  .tech-text {
    font-size: 18px;
  }
}

.tech-img {
  width: 30%;
  height: auto;
  display: inline-block;
}
@media screen and (min-width: 0px) {
  .tech-img {
    width: 5vh;
  }
}

/* PROJECTS SECTION */
.project-heading {
  font-family: "Lato-regular";
}
@media screen and (min-width: 0px) {
  .project-heading {
    font-size: 28px;
  }
}
@media screen and (min-width: 600px) {
  .project-heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) {
  .project-heading {
    font-size: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .project-heading {
    font-size: 50px;
  }
}

.project-info {
  font-family: "Lato-light";
  font-size: 17px;
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .project-info {
    font-size: 18px;
  }
}

.btn-small, .btn-git, .btn-live {
  background-color: #209dfb;
  opacity: 0.71;
  color: #000;
  border-radius: 4px;
  margin: 5px;
  box-shadow: 0px 0px;
}
.btn-small:hover, .btn-git:hover, .btn-live:hover, .btn-small:focus, .btn-git:focus, .btn-live:focus {
  opacity: 1;
  background-color: #209dfb;
  box-shadow: 0px 0px;
}

.btn-live {
  background-color: #11EDA4;
  opacity: 0.71;
}
.btn-live:hover, .btn-live:focus {
  opacity: 1;
  background-color: #11EDA4;
}

a > .fa-github, a > .fa-link, a > .fa-file {
  margin-right: 5px;
}

.express-icon, .c-icon, .p5-icon, .mongo-icon, .vue-icon, .mysql-icon, .nodejs-icon, .python-icon, .html-icon, .css-icon, .js-icon {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  -ms-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  color: #7B7B7B;
}

.js-icon:hover {
  color: #f3da34;
}

.css-icon:hover {
  color: #1391dd;
}

.html-icon:hover {
  color: #ee5b30;
}

.python-icon:hover {
  color: #fed04c;
}

.nodejs-icon:hover {
  color: #026e00;
}

.p5-icon, .mongo-icon, .vue-icon, .mysql-icon, .c-icon {
  -webkit-transition: filter 0.15s ease-out;
  -moz-transition: filter 0.15s ease-out;
  -o-transition: filter 0.15s ease-out;
  -ms-transition: filter 0.15s ease-out;
  transition: filter 0.15s ease-out;
  filter: grayscale(100%);
  display: inline-block;
  height: 20px;
  width: 45px;
  margin-left: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../imgs/p5-logo.png");
}
.p5-icon:hover, .mongo-icon:hover, .vue-icon:hover, .mysql-icon:hover, .c-icon:hover {
  filter: grayscale(0%);
}

.c-icon {
  height: 35px;
  width: 35px;
  background-image: url("../../imgs/c++.png");
}

.express-icon {
  display: inline-block;
  height: 15px;
  width: 70px;
  margin-left: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../imgs/express-logo.png");
}

.mysql-icon {
  top: 20px;
  height: 40px;
  width: 40px;
  margin-left: 7px;
  background-image: url("../../imgs/mysql.png");
}

.vue-icon {
  position: relative;
  top: 5px;
  height: 30px;
  width: 30px;
  margin-left: 7px;
  margin-right: 5px;
  background-image: url("../../imgs/vue.png");
}

.mongo-icon {
  position: relative;
  top: 5px;
  height: 35px;
  width: 35px;
  margin-left: 7px;
  background-image: url("../../imgs/mongo.png");
}

video {
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 2px 15px 1px #7B7B7B;
}
@media screen and (min-width: 0px) {
  video {
    width: 90%;
  }
}
@media screen and (min-width: 600px) {
  video {
    width: 70%;
  }
}
@media screen and (min-width: 992px) {
  video {
    width: 50%;
  }
}
.project-row {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #f2f9ff;
  border-style: solid;
  border-width: 1px;
  border-color: #bbe2ff;
}
@media screen and (min-width: 0px) {
  .project-row {
    padding: 5px;
  }
}
@media screen and (min-width: 600px) {
  .project-row {
    padding: 25px;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .project-row {
    width: 70%;
  }
}

/*# sourceMappingURL=index.css.map */
