/* Scss Document */
/* Scss Document */
/*Color variables*/
/* $orange-light-10: #FFC23C;
$orange-light-20: #FFD16C;
$orange-dark-10: #FFB000;
$orange-dark-20: #FDAE00;

$red: #FF240D;
$red-light-10: #FF4E3C;
$red-light-20: #FF7A6C;
 */
/*Font stack*/
/* Fonts */
@font-face {
  font-family: "Lato-regular";
  src: url("../../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-light";
  src: url("../../fonts/Lato/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato-bold";
  src: url("../../fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-black";
  src: url("../../fonts/Lato/Lato-Black.ttf");
}
@font-face {
  font-family: "Libre_Caslon_Text Bold";
  src: url("../../fonts/Libre_Caslon_Text/LibreCaslonText-Bold.ttf");
}
@font-face {
  font-family: "Libre_Caslon_Text Reg";
  src: url("../../fonts/Libre_Caslon_Text/LibreCaslonText-Regular.ttf");
}
/* Reponsive width variables */
.express-icon, .c-icon, .p5-icon, .mysql-icon, .nodejs-icon, .python-icon, .html-icon, .css-icon, .js-icon {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  -ms-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  color: #7B7B7B;
}

span {
  font-weight: 500;
  font-family: "Libre_Caslon_Text Reg";
}

h1, #pricosha, #qgame, #network, #shooterio, h2, h3, h4, #statify-how, #pricosha-how, #qgame-how, #network-how, #shooterio-how, #neural-how, h5 {
  font-weight: 400;
  font-family: "Libre_Caslon_Text Reg";
}

h1, #pricosha, #qgame, #network, #shooterio, h4, #statify-how, #pricosha-how, #qgame-how, #network-how, #shooterio-how, #neural-how {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  background-color: #E2F8FC;
}
h1 a, #pricosha a, #qgame a, #network a, #shooterio a, h4 a, #statify-how a, #pricosha-how a, #qgame-how a, #network-how a, #shooterio-how a, #neural-how a {
  color: #01849C;
}
h1 a:hover, #pricosha a:hover, #qgame a:hover, #network a:hover, #shooterio a:hover, h4 a:hover, #statify-how a:hover, #pricosha-how a:hover, #qgame-how a:hover, #network-how a:hover, #shooterio-how a:hover, #neural-how a:hover {
  color: #03C4E8;
  text-decoration: none;
}

h4, #statify-how, #pricosha-how, #qgame-how, #network-how, #shooterio-how, #neural-how {
  background-color: #FFF1D4;
}
h4 a, #statify-how a, #pricosha-how a, #qgame-how a, #network-how a, #shooterio-how a, #neural-how a {
  color: #AB7600;
}
h4 a:hover, #statify-how a:hover, #pricosha-how a:hover, #qgame-how a:hover, #network-how a:hover, #shooterio-how a:hover, #neural-how a:hover {
  color: #FFB40D;
}

#statify-how, #pricosha-how, #qgame-how, #network-how, #shooterio-how, #neural-how {
  width: 200px;
}

site-button, .github-link {
  margin-right: 5px;
  padding-top: 5px;
  font-family: "Libre_Caslon_Text Reg";
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #01849C;
  background-color: #11C8ED;
}
site-button:hover, .github-link:hover {
  background-color: #01849C;
}
site-button .live-link, .github-link .live-link {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
}
site-button .live-link:hover, .github-link .live-link:hover {
  color: white;
}

.github-link {
  background-color: #6cc644;
}
.github-link:hover {
  background-color: #358D10;
}

.js-icon:hover {
  color: #f3da34;
}

.css-icon:hover {
  color: #1391dd;
}

.html-icon:hover {
  color: #ee5b30;
}

.python-icon:hover {
  color: #fed04c;
}

.nodejs-icon:hover {
  color: #026e00;
}

.p5-icon, .mysql-icon, .c-icon {
  -webkit-transition: filter 0.15s ease-out;
  -moz-transition: filter 0.15s ease-out;
  -o-transition: filter 0.15s ease-out;
  -ms-transition: filter 0.15s ease-out;
  transition: filter 0.15s ease-out;
  filter: grayscale(100%);
  display: inline-block;
  height: 20px;
  width: 45px;
  margin-left: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../imgs/p5-logo.png");
}
.p5-icon:hover, .mysql-icon:hover, .c-icon:hover {
  filter: grayscale(0%);
}

.c-icon {
  height: 35px;
  width: 35px;
  background-image: url("../../imgs/c_logo.png");
}

.express-icon {
  display: inline-block;
  height: 15px;
  width: 70px;
  margin-left: 7px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../imgs/express-logo.png");
}

.mysql-icon {
  position: relative;
  top: 20px;
  height: 70px;
  width: 70px;
  margin-left: 7px;
  background-image: url("../../imgs/mysql.png");
}

/*# sourceMappingURL=projects.css.map */
