@charset "utf-8";
/* CSS Document */

@import 'variables';
/*Animation mixins*/

/*Base stylings for all pages*/

/*Document styling*/
html, body {
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	overflow-x: hidden;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}

/* GENERAL */
.section-row {
	margin-top: 75px;
}
.section-title {
	width: 100%;
	margin: 0px;
	font-family: $base-serif-bold;
	font-size: 54px;
	// text-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);

	@media screen and (min-width: $small) {
		font-size: 40px;
	} 
	// @media screen and (min-width: $med) {
	// 	font-size: 36px;
	// }
	@media screen and (min-width: $large) {
		font-size: 46px;
	}
	@media screen and (min-width: $xlarge) {
		font-size: 50px;
	}
}
div > .btn, div > .btn-large {
	border-radius: 4px;
	background-color: $base-light;
	// background-color: rgba(255, 178, 13, 0.8);
	color: #000;
	font-family: $base-sans-bold;
	box-shadow: 0px 0px;

	&:hover, &:focus {
		opacity: 1;
		background-color: $base-color;
		box-shadow: 0px 0px;
	}

	// &:focus {
	// 	opacity: 1;
	// 	background-color: #FFB40D;
	// }
}

/* NAV STYLINGS */
nav {
	top: 0;
	z-index: 5;
	font-family: $base-sans-light;
	background-color: $base-dark-20;
	position: fixed;
	transition: top 0.3s;
}

#nav-mobile > li.active > a {
	font-family: $base-sans;
}

#nav-mobile > li > a {
	@media screen and (min-width: $med){
		font-size: 18px;
		text-align: center;
	}
	@media screen and (min-width: $large){
		font-size: 20px;
	}
	@media screen and (min-width: $xlarge){
		font-size: 22px;
	}
}

.sidenav {
	font-family: $base-sans;
	background-color: $base-dark-20;
	// background-color: #0097BA;
	opacity: 1;
	width: 100%;
}

.sidenav li {
	height: 65px;
}


.sidenav li.active > a {
	background-color: $base-dark-10;
}

.sidenav li:not(.social-li) > a  {
	color: white;
	height: 100%;
	padding: 10px;
	// background-color: $base-color;
	font-family: $base-sans-light;
	font-size: 16px;

}

.sidenav li.social-li {
	margin-top: 20px;
}

.sidenav li.social-li > a {
	height: 100%;
	display: inline-block;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	// background-color: #0097BA;
	// margin: auto;
}

.sidenav li.social-li > a > i {
	color: white;
	margin: 0px;
}


/*Footer styling*/
footer.page-footer {
	background-color: $base-dark-20;
}

.col.s12.m3.top-row {
	text-align: center;
	padding: 10px;
}

.footer-link {
	font-family: $base-sans;
	font-size: 16px;
	color: #FFF;
}

.footer-text {
	font-size: 13px;
	color: #FFF;
	font-family: $base-sans;
}

.logo-img {
	color: white;
}








