@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 450px) {
	img {
		max-height: 90%;
	}
}

@media screen and (min-width: 450.01px) {
	img {
		max-height: 90%;
	}
}

img {
	border-radius: 10px;
}


html, body {
	height: 100%;
}

.col, .col-sm {
	text-align: center;
}

.page-text {
/*	font-family: 'Roboto', sans-serif;*/
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.page-heading {
/*	font-family: 'EB Garamound', serif;*/
	font-family: 'Playfair Display', serif;
	font-size: 85px;
}

.content-row {
	position: relative;
	padding-top: 10%;
	
}

