/* Scss Document */

@import 'variables';

@mixin fade() {
	-webkit-transition: color 0.15s ease-out; 
	-moz-transition: color 0.15s ease-out;
	-o-transition: color 0.15s ease-out;
	-ms-transition: color 0.15s ease-out;
	transition: color 0.15s ease-out;
}

@mixin bg-fade() {
	-webkit-transition: background-color 0.15s ease-out; 
	-moz-transition: background-color 0.15s ease-out;
	-o-transition: background-color 0.15s ease-out;
	-ms-transition: background-color 0.15s ease-out;
	transition: background-color 0.15s ease-out;	
}

%tech-icon {
	@include fade();
	color: #7B7B7B;
}

span {
	font-weight: 500;
	font-family: $base-sans-serif;
}


h1, h2, h3, h4, h5 {
	font-weight: 400;
	font-family: $base-serif;
	
}

h1  {
	text-align: center;
	border-radius: 10px;
	width: 100%;
	background-color:#E2F8FC;
//		#C7F1F9;
	
	a {
		color: $base-dark-20;
		
		&:hover {
			color: $base-dark-10;
			text-decoration: none;
		}
	}
}

h4 {
	@extend h1;
	background-color: #FFF1D4;
	
	a {
		color: #AB7600; 
		
		&:hover {
			color: $orange-dark-20;
		}
	}
	
}


#statify-how, #pricosha-how, #qgame-how, #network-how {
	@extend h4;
	width: 200px;
}

#pricosha, #qgame, #network {
	@extend h1;
//	width: 180px;
}



site-button {
	margin-right: 5px;
	padding-top: 5px;
	font-family: $base-sans-serif;
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 35px;
	border-radius: 20px;
//	border-style: solid;
	border-width: 1px;
	border-color: $base-dark-20;
	background-color: $base-color;
	
	&:hover {
		background-color: $base-dark-20;
	}
	
	.live-link {
		height: 100%;
		width: 100%;
		display: block;
		text-decoration: none;
		color: black;
		
		&:hover {
			color: white;
		}
	}
	
	
}

.github-link {
	@extend site-button;
	background-color: #6cc644;
	
	&:hover {
		background-color: #358D10;
	}
}



.js-icon {
	@extend %tech-icon;
	
	&:hover {
		color: #f3da34;
	}
}

.css-icon {
	@extend %tech-icon;
	
	&:hover {
		color: #1391dd;
	}
}

.html-icon {
	@extend %tech-icon;
	
	&:hover {
		color: #ee5b30;
	}
}

.python-icon {
	@extend %tech-icon;
	
	&:hover {
		color: #fed04c; 
	}
}

.c-icon {
	@extend %tech-icon;
	@include bg-fade();
	display: inline-block;
	height: 28px;
	width: 28px;
	border-radius: 5px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("c_logo.png");
	background-color: #7B7B7B;
	
	&:hover {
		background-color: #1077c4;
	}
	
}

.mysql-icon {
	@extend .c-icon;
	margin-left: 7px;
	background-image: url("mysql.png");
	
	&:hover {
		background-color: #e0842a;	
	}
}
