/* Scss Document */

/*Color variables*/
$base-color: #11C8ED;
$base-light-10: #3CD3EF;
$base-light-20: #69DBF0;
$base-dark-10: #03C4E8;
$base-dark-20: #01849C;

$orange: #FFB40D;
$orange-light-10: #FFC23C;
$orange-light-20: #FFD16C;
$orange-dark-10: #FFB000;
$orange-dark-20: #FDAE00;

$red: #FF240D;
$red-light-10: #FF4E3C;
$red-light-20: #FF7A6C;

/*Font stack*/
$base-serif: 'Playfair Display', serif;
$base-sans-serif: 'Montserrat', sans-serif;
