/* Scss Document */

@import 'variables';

/* CONTACT SECTION */
// input, textarea {
// 	border-width: 2px !important;
// 	border-right: none !important;
// 	border-color: $base-color !important;

// }

input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color:$base-color;
	
}

.input-field .prefix.active {
	color: $base-color;
	
}

footer {
	position: relative;
	bottom: -180px;
}

