@charset "utf-8";
/* CSS Document */

@import 'variables';

body {
	background: linear-gradient(180deg, #FEFEFE 67.19%, #CFF3FB 80.21%, rgba(17, 200, 237, 0.4) 100%);
}

nav {
	font-family: $base-sans-light;
	background-color: $base-dark-20;
}


li > a {
	padding-left: 30px !important;
	padding-right: 30px !important;
	font-size: 20px !important;

}

.sidenav {
	font-family: $base-sans;
	background-color: #0097BA;
}

.sidenav li {
	// margin-top: 10px;
}


.sidenav li > a {
	height: 120% !important;
	background-color: $base-color;

	&:hover {
		background-color: $base-light;
	}
}

// li { 
// 	margin
// }

// .container-body {
// 	height: 50%;
// }

