/* CSS Document */
/* Scss Document */
/*Color variables*/
/*Font stack*/
/* Fonts */
@font-face {
  font-family: "Mulish-light";
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Mulish-reg";
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Mulish-bold";
  src: url("../fonts/Mulish/Mulish-VariableFont_wght.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Work Sans-bold";
  src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-weight: 650;
}
/* Reponsive width variables */
/*Animation mixins*/
/*Base stylings for all pages*/
/*Document styling*/
html, body {
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* GENERAL */
.section-row {
  margin-top: 75px;
}

.section-title {
  width: 100%;
  margin: 0px;
  font-family: "Work Sans-bold";
  font-size: 54px;
}
@media screen and (min-width: 0px) {
  .section-title {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .section-title {
    font-size: 46px;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 50px;
  }
}

div > .btn, div > .btn-large {
  border-radius: 4px;
  background-color: #209dfb;
  color: #000;
  font-family: "Mulish-bold";
  box-shadow: 0px 0px;
}
div > .btn:hover, div > .btn:focus, div > .btn-large:hover, div > .btn-large:focus {
  opacity: 1;
  background-color: #047CD6;
  box-shadow: 0px 0px;
}

/* NAV STYLINGS */
nav {
  top: 0;
  z-index: 5;
  font-family: "Mulish-light";
  background-color: #023257;
  position: fixed;
  transition: top 0.3s;
}

#nav-mobile > li.active > a {
  font-family: "Mulish-reg";
}

@media screen and (min-width: 600px) {
  #nav-mobile > li > a {
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  #nav-mobile > li > a {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #nav-mobile > li > a {
    font-size: 22px;
  }
}

.sidenav {
  font-family: "Mulish-reg";
  background-color: #023257;
  opacity: 1;
  width: 100%;
}

.sidenav li {
  height: 65px;
}

.sidenav li.active > a {
  background-color: #035796;
}

.sidenav li:not(.social-li) > a {
  color: white;
  height: 100%;
  padding: 10px;
  font-family: "Mulish-light";
  font-size: 16px;
}

.sidenav li.social-li {
  margin-top: 20px;
}

.sidenav li.social-li > a {
  height: 100%;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidenav li.social-li > a > i {
  color: white;
  margin: 0px;
}

/*Footer styling*/
footer.page-footer {
  background-color: #023257;
}

.col.s12.m3.top-row {
  text-align: center;
  padding: 10px;
}

.footer-link {
  font-family: "Mulish-reg";
  font-size: 16px;
  color: #FFF;
}

.footer-text {
  font-size: 13px;
  color: #FFF;
  font-family: "Mulish-reg";
}

.logo-img {
  color: white;
}

/*# sourceMappingURL=baseStyling.css.map */
