/* Scss Document */

/*Color variables*/
// $base-color: #11C8ED;
// $base-light: #6BFBFF;


// $base-light-20: #69DBF0;
// $base-dark-10: #03C4E8;
// $base-dark-20: #01849C;

$base-color: #047CD6;
$base-light: #209dfb;


$base-light-20: #66bdfd;
$base-dark-10: #035796;
$base-dark-20: #023257;

$background: #f2f9ff;

$green: #11EDA4;


/*Font stack*/
/* Fonts */
@font-face {
	font-family: "Mulish-light";
	src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf');
	font-weight: 300;
}

@font-face {
	font-family: "Mulish-reg";
	src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf');
	font-weight: 500;
}

@font-face {
	font-family: "Mulish-bold";
	src: url('../fonts/Mulish/Mulish-VariableFont_wght.ttf');
	font-weight: 700;
}

@font-face {
	font-family: "Work Sans-bold";
	src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
	font-weight: 650;
}


$base-serif-bold: "Work Sans-bold";

$base-sans: 'Mulish-reg';
$base-sans-light: 'Mulish-light';
$base-sans-bold: "Mulish-bold";

/* Reponsive width variables */
$small: 0px;
$med: 600px;
$large: 992px;
$xlarge: 1200px;

